body {
  margin: 0;
  font-family: 'Lato', 'Futura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-wrap {
    flex: 1;
  }
}

// @include respond(tab-land) { // width < 1200px?
//   font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
// }

// @include respond(tab-port) { // width < 900px?
//   font-size: 50%; // 1rem = 8px, 8/16 = 50%
// }

// @include respond(big-desktop) {
//   font-size: 75%; // 1rem = 12px; 12/16 = 75%
// }


@media (max-width: 960px) {
  nav {
    & a { display: none; }
    & select { display: inline-block}
  }
}