body {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Home Page Styling */

.home-title {
  font-weight: 600;
  font-size: 4rem;
  margin: 0;
}

.description-container {
  width: 75%;
  margin: 0 auto;
}

.rules-heading, .bans-heading {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 auto
}

.rules-list, .banned-list {
  margin: 1rem 0;
}

/* End Home Page Styling */

/* Winner & Nominee Page Styling */

.winner-heading, .nominee-heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 1rem 0;
}

/* End Winner & Nominee Page Styling */

.game-link:hover, .ally-link:hover, .hall-link:hover {
  color: red;
  text-decoration: line-through;
}

.ceremony-button {
  color: black;
  border: 1px solid black;
  display: flex;
  justify-items: center; 
  margin-top: 1em;
}

.hall-title, .ally-title, .voting-title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
}

.hallOfGreatVideo {
  margin: 0 auto;
  margin-bottom: 1em;
  /* padding: 1em;
  box-shadow: 2px 2px 9px #888888;
  border: 3px solid darkred;
  border-radius: 1em; */
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Game Page Styling */

.game-title-primary, .game-title-secondary {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 1rem 0;
}

.game-image-primary, .game-image-secondary {
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 9px #888;
  transition: .3s;
}

.game-image-primary:hover, .game-image-secondary:hover {
  transform: translateY(-0.5rem);
}

.nominee-area {
  margin-top: 1rem;
}

.game-info, .description-game-section {
  margin-left: 1rem;
}

.ally-game {
  display: flex;
  align-items: baseline;
}

.brought-by {
  margin-right: .5rem;
}

.game-data-section {
  margin-top: 0;
}

.description-game {
  margin: .25rem 1rem 0 0;
}

/* End Game Page Styling */

.fa-star {
  color: gold;
  margin: 1rem 0;
  font-size: 3rem;
}