@import '../styles/mixins.scss';
@import '../styles/variables.scss';

// Home Page Styling
.home {
  &-title {
    @include heading-styles(600, 4rem, 0);
  }

  .description-container {
    width: 75%;
    margin: $margin-auto;
    text-align: $text-center;
  }

  .rules-heading, .bans-heading {
    @include heading-styles(400, 3rem, 0);
  }

  .rules-list, .banned-list {
    margin: 1rem 0;
    text-align: $text-center;
  }
}
// End Home Page Styling 

// Winner & Nominee Page Styling 

.winner-page {
  &-heading {
    @include heading-styles(400, 3rem, 0 0 1rem 0);
  }
}

.nominations-page {
  &-heading {
    @include heading-styles(400, 3rem, 0 0 1rem 0);
  }
}
// End Winner & Nominee Page Styling

// Ceremony & Ally Page Styling

.hall-page {
  &-title {
    @include heading-styles(400, 3rem, 1rem 0);
  }

  &-video {
    margin: $margin-auto;
    margin-bottom: 1rem;
    /* padding: 1em;
    box-shadow: 2px 2px 9px #888888;
    border: 3px solid darkred;
    border-radius: 1em; */
  }

  &-button {
    color: $color-black;
    border: 1px solid $color-black;
    margin: $margin-auto;
    margin-top: 1em;  
  }

  &-link:hover {
    color: $color-red;
    text-decoration: line-through;
  }

  .voting-title {
    @include heading-styles(400, 2.5rem, 1rem 0);
  }
}

.ally-page {
  &-title {
    @include heading-styles(400, 3rem, 1rem 0);
  }

  &-button {
    color: $color-black;
    border: 1px solid $color-black;
    margin: $margin-auto;
    margin-top: 1em;  
  }

  &-link:hover {
    color: $color-red;
    text-decoration: line-through;
  }
}

// End Ceremony & Ally Page Styling 

// Game Page Styling
.game-page {

  &-link:hover {
    color: $color-red;
    text-decoration: line-through;  
  }

  .inductee-area {
    transition: .3s;

    &:hover {
      transform: translateY(-0.5rem);
    }
    .game-title-primary {
      @include heading-styles(400, 3rem, 0 0 1rem 0);
    }

    .game-image-primary {
      display: block;
      margin: $margin-auto;
      box-shadow: 2px 2px 9px #888;    
    }
  }

  .nominee-area {
    margin-top: 1rem;
    
    .game-title-secondary {
      @include heading-styles(400, 3rem, 0 0 1rem 0);
    }

    .game-image-secondary {
      display: block;
      margin: $margin-auto;
      box-shadow: 2px 2px 9px #888;
      transition: .3s;
  
      &:hover {
        transform: translateY(-0.5rem);
      }  
    }
  }

  .game-info {
    margin-left: 1rem;

    .ally-game {
      display: flex;
      align-items: baseline;

      .brought-by {
        margin-right: 0.5rem;
      }
    }
    
    .game-data-section {
      margin-top: 0;
    }
  }

  .description-game-section {
    margin-left: 1rem;

    .description-game {
      margin: .25rem 1rem 0 0;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
// End Game Page Styling 