body {
  /* position: absolute; */
  height: 100%
}

.allyAndGame {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.allyImageGame {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

.tab-bar {
  margin-left: 3em;
  padding-top: 10;
}

.tab-bar-one {
  display: flex;
  align-items: space-around;
}

.gameLink:hover {
  color: red;
}

.gameTitle {
  font-size: 5em;
  /* font-weight: bold; */
}

.fa-star {
  color: gold;
  margin-bottom: -1.5em;
};
