body {
  position: relative;
  height: 100%;
}

.gameLink:hover {
  color: red;
}

.gameTitle {
  font-size: 5em;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: red;
}

.gameImage {
  box-shadow: 2px 2px 9px #888888;
}

@keyframes moveStar {
  0% {
    opacity: 0;
    transform: translateX(-30px); /* translateY because we want to move it in regards vertically. -30 to move from the top */
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.fa-star {
  color: gold;
  margin-bottom: -1.5em;

  animation: moveStar 2s ease-out;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .tab-allies[label] {
    width: 1;
  }

  .tab-allies[label] { content: "Moore"; }
  .tab-allies:nth-of-type(2) { content: "Moore"; }
  .tab-allies:nth-of-type(3) { content: "Moore"; }
  .tab-allies:nth-of-type(4) { content: "Moore"; }
  .tab-allies:nth-of-type(5) { content: "Moore"; }
  .tab-allies:nth-of-type(6) { content: "Moore"; }
  .tab-allies:nth-of-type(7) { content: "Moore"; }
  .tab-allies:nth-of-type(8) { content: "Moore"; }
  .tab-allies:nth-of-type(9) { content: "Moore"; }
	/* td:nth-of-type(3):before { content: "Game:"; }
	td:nth-of-type(4):before { content: "Metacritic:"; }
	td:nth-of-type(5):before { content: "Genre:"; }
	td:nth-of-type(6):before { content: "Metacritic: "; }
	td:nth-of-type(7):before { content: "Votes Received: "; }
	td:nth-of-type(8):before { content: "Inducted: "; }
	td:nth-of-type(9):before { content: "Banned: "; } */


}