/* body {
  position: absolute;
  height: 100%
} */

.allyAndGame {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 1em 0 1em;
}

.tab-bar {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.tab-bar-one {
  display: flex;
  align-items: space-around;
}