@import '../../styles/variables.scss';

footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
  background-color: $color-black;

  & a {
    color: $color-white;

    &:hover {
      color: $color-red;
    }
  }
}