@import '../../styles/variables.scss';

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
  .prompt {
    width: 25rem;
    padding: .75rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    transition: .05s all;

    &:hover {
      border: .2rem #444 solid;
      border-radius: 5px;
      box-shadow: 2px 2px 9px #888;
    }
  }
}
