table { 
  width: 75%; 
	border-collapse: collapse; 
	box-shadow: 2px 2px 7px #888888;
}

tr:nth-of-type odd { 
  background: #eee; 
}

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  text-align: center;

}

td, th { 
  padding: 6px; 
  border: 1px solid #888; 
}

td {
  text-align: left;
}

.feed-user-icon:hover {
	color: grey;
}

.tableInfoE {
	text-align: center;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table {
		width: 100%;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	tbody {
		margin: .5em 0 .5em 0;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		border: 1px solid #ccc;
		/* background-color: black; */
	 }
	
	td { 
		/* Behave  like a "row" */
		border: 1px solid black; 
		position: relative;
		padding-left: 25%;
		text-align: right;
		overflow: fade;
	}

	.tableInfoE {
		text-align: right;
	}

	td:nth-of-type(1) {
		background-color: #aaa;
	}

	td:nth-of-type(1):before {
		margin-top: .5em;
	}

	td:nth-of-type(3):before {
		margin-top: .1em;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 20%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align: left;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Nominated By:"; }
	td:nth-of-type(2):before { content: "Game:"; }
	td:nth-of-type(3):before { content: "Votes Received:"; }
	td:nth-of-type(4):before { content: "Inducted:"; }
	td:nth-of-type(5):before { content: "Banned:"; }
}