@import '../../styles/variables.scss';

.nav {
  &-list {
    list-style: none;
    margin-left: -1.5em;
    margin-right: 1rem;
    padding-bottom: 1em;
  
    &-links {
      color: $color-black;
      padding: 1em 1.5em .5em .5em;
      display: flex;
      flex-direction: column;
    
      &:hover {
        color: $color-red;
        text-decoration: line-through; 
      }  
    }
  }
}

.fa-bars {
  font-size: 1.5rem;

  &:hover {
    color: $color-red;
  }
}