@import '../../styles/variables.scss';

.header-root {
  display: flex;
  flex-grow: 1;

  .menu-bar {
    background-color: $color-black;

    .menu-title {
      font-size: 2rem;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      flex-grow: 1;    

      &:hover {
        color: $color-white;
        text-decoration: line-through;
      }
    }
  }
}