.hallOfGreatsHeader {
  margin: 0 auto;
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
  /* align-items: center;  */
}

.nav-links-div {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.menu-title {
  color: white;
}

.nav-links {
  color: black;
  font-size: large;
  padding: 1em 0 1em .5em;
}

.nav-links:hover {
  color: red;
}

nav select {
  display: none;
}

@media (max-width: 960px) {
  nav a { display: none; }
  nav select { display: inline-block; }
}