.hallOfGreatsHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hallOfGreatsHeader a {
  color: white;
  font-size: large;
  padding: 1em 0 1em .5em;
  /* margin: 0 0 1em 0; */

}