@mixin heading-styles($heading-font-weight, $text-align, $heading-font-size, $heading-margin) {
  font-weight: $heading-font-weight;
  font-size: $heading-font-size;
  text-align: $text-align;
  margin: $heading-margin;
}