// Colors
$color-black: black;
$color-red: red;
$color-teal: rgb(20, 196, 148);
$color-neon-purple: rgb(173, 13, 191);
$color-white: white;

// Margins
$margin-auto: 0 auto;

// Text manipulation
$text-center: center;